.category {
    padding: 0px;
    text-align: center;
}

.banner1 {
    background-image: var(--banner-img);
    width: 100%;
    /* min-height: 20vh; */
    position: relative;
    text-transform: capitalize;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner1 h1 {
    color: #d32f2f;
    font-size: 50px;
}

.banner1 p {
    color: #2b2c3f;
}

.box-container {
    /* margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%; */
    margin: 2% 5% 3% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2vw;
    justify-items: center;
}

.box {
    text-align: center;
    color: var(--lightgray);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: none;
    margin: 20px 0;
}

.box .img-box {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #d32f2f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add shadow for better visual */
    background-color: whitesmoke;
}

.box .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio while covering the box */
    transition: transform 0.5s ease;
}

.box .img-box:hover img {
    transform: scale(1.1);
}