.confirmation-section {
    padding: 4%;
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 5%;
}

.confirmation-container {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 500px;
}

.btn {
    background-color: #ff004f;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #ff5252;
}