* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

/* --------------------- Variables ----------------------- */
:root {
    --space: 2rem;
    /* --background-color: #dbe2ee; */
    --background-color: #e5ecf8;
    --outer-shadow: -3.536px -3.536px 15px 0px rgba(245, 249, 252, 0.75),
        4.096px 2.868px 10px 0px rgba(133, 168, 252, 0.75),
        inset 0.707px 0.707px 0px 0px rgba(243, 248, 253, 0.6);
    --inner-box-shadow: -0.819px -0.574px 1px 0px rgba(248, 98, 98, 0.15),
        -0.819px -0.574px 3px 0px rgba(92, 27, 27, 0.47),
        2.598px 1.5px 5px 0px rgba(13, 91, 236, 0.19),
        0.866px 0.5px 1px 0px rgba(6, 10, 17, 0.06),
        inset 0.707px 0.707px 0px 0px rgba(255, 255, 255, 0.6),
        inset -1.638px -1.147px 3px 0px rgba(49, 69, 106, 0.18);
    --color: #555;
    --black: #000;
    /* --lightgray: #7888a2; */
    --lightgray:midnightblue;
    /* --orange: #f78e58; */
    --orange:sienna;
}

body {
    background-color: var(--background-color);
}

body.dark {
    --space: 2rem;
    --background-color: #2b2c3f;
    --outer-shadow: -4.95px -4.95px 11px 0px rgba(52, 56, 72, 0.8),
        8.192px 5.736px 12px 0px rgba(28, 28, 38, 0.6),
        inset 0.707px 0.707px 0px 0px rgba(74, 76, 101, 0.16);
    --inner-box-shadow: -0.819px -0.574px 3px 0px rgba(57, 59, 76, 0.9),
        2.598px 1.5px 5px 0px rgba(44, 46, 60, 0.4),
        0.866px 0.5px 1px 0px rgba(13, 29, 58, 0.06),
        inset 0.707px 0.707px 0px 0px rgba(45, 47, 61, 0.79),
        inset -1.638px -1.147px 3px 0px rgba(45, 47, 61, 0.18);
    --color: #eee;
    --black: #fff;
    --lightgray: #7888a2;
    --orange: #f78e58;
}

/* --------------------- Global Setting ----------------------- */
html {
    scroll-behavior: smooth;
}

.btn {
    background: var(--background-color);
    box-shadow: var(--inner-box-shadow);
    text-transform: capitalize;
    color: var(--lightgray);
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    font-size: 16px;
}

.btn:hover {
    box-shadow: var(--outer-shadow);
}

.empty {
    border-radius: .5rem;
    box-shadow: var(--inner-box-shadow);
    background: var(--background-color);
    padding: 1.5rem;
    text-align: center;
    font-weight: 100%;
    text-transform: capitalize;
    line-height: 2;
    color: var(--black);
}

input,
textarea,
button,
select {
    box-shadow: var(--inner-box-shadow);
    background: var(--background-color);
    border-radius: 20px;
    padding: 1rem;
    border: none;
    width: 100%;
    margin: .6rem 0;
}

input[type='submit'] {
    cursor: pointer;
}

.option {
    background: var(--background-color);
    cursor: pointer;
    padding: 1rem;
}

label {
    text-transform: uppercase;
    color: var(--lightgray);
    font-weight: 800;
    font-size: 18px;
}

form h1 {
    text-align: center;
    text-transform: capitalize;
}

form span {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: red;
}

form p {
    text-align: left;
    color: var(--lightgray);
    margin-bottom: 1rem;
}

.form-container {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    padding-bottom: 60px;
    /* margin-top: 1rem; */
}

.form-container form {
    width: 50vw;
    border-radius: 20px;
    box-shadow: var(--inner-box-shadow);
    padding: 1rem;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
}

.box-container .box {
    margin: 1rem;
    box-shadow: var(--inner-box-shadow);
}

form sup {
    color: red;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    /* padding: 1rem 0; */
    color: var(--orange);
    margin-bottom: 1rem;
    font-size: 2.5rem; 
    border-bottom: 2px solid var(--orange); /* Add a bottom border for separation */
    letter-spacing: 2px; /* Increase letter spacing for better readability */
}

section,
.post-editor {
    width: 75vw;
    min-height: 100vh;
    background: var(--background-color);
    border-radius: 10px;
    padding: 4%;
    margin: 8% 4%;
    margin-bottom: 2%;
}

/* ------------------ Custom Scroll Bar -------------- */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #6d6d6d;
    position: relative;
}

::-webkit-scrollbar-track {
    background: transparent;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin: 30px 10px 30px 10px;                   /* top right bottom left */
}

/* --------------------  day-night theme  ---------------------*/
.day-night {
    /*class from dark.php*/
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    right: 5%;
    top: 20%;
    box-shadow: var(--outer-shadow);
    cursor: pointer;
    color: var(--color);
}

.day-night:hover {
    box-shadow: var(--inner-box-shadow);
}

/* --------- header  -----------*/
header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 80px;
    z-index: 151;
    box-shadow: 0px 5px 10px 2px rgb(0 0 0 /5%);
    padding: 0 50px;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .right {
    display: flex;
}

#user-btn,
.toggle-btn {
    font-size: 2rem;
    box-shadow: var(--inner-box-shadow);
    padding: .5rem;
    color: var(--lightgray);
    cursor: pointer;
    transition: .6s;
}

#user-btn:hover,
.toggle-btn:hover {
    box-shadow: var(--outer-shadow);
    border-radius: 50%;
}

.toggle-btn {
    margin-left: .5rem;
    display: none;
}

.profile-detail {
    position: absolute;
    top: 125%;
    right: 2rem;
    border-radius: .5rem;
    background-color: var(--background-color);
    box-shadow: var(--inner-box-shadow);
    width: 22rem;
    display: none;
    padding: 1.5rem .5rem;
    animation: .2s linear fadeIn;
    text-align: center;
    overflow: hidden;
    display: none;
}

@keyframes fadeIn {
    0% {
        transform: translateY(1rem);
    }
}

.profile-detail.active {
    display: inline-block;
}

.profile-detail p {
    padding-bottom: .7rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--lightgray);
}

.profile-detail .flex-btn {
    display: flex;
    justify-content: space-evenly;
}

.profile-detail .flex-btn .btn {
    padding: 1rem 2.5rem;
    margin: 0 1rem;
}

/* ---------- sidebar -----------*/
.main-container {
    display: flex;
}

.sidebar {
    /* background: var(--background-color); */
    /* background: #dbe2ee; */
    background: #cedaf0;
    padding-top: 4rem;
    width: 18vw;
    height: 100vh;
    position: sticky;
    --offset: var(--space);
    top: var(--offset);
    box-shadow: var(--inner-box-shadow);
    overflow: auto;
    z-index: 1;
}

.sidebar h5 {
    text-transform: uppercase;
    /* color: var(--color); */
    color:crimson;
    padding: .5rem 1rem;
    margin: .5rem;
    font-size: 20px;
}

.profile {
    margin: .5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-image {
    border-radius: 50%;
    padding: .5rem;
    border: 2px solid var(--orange);
    box-shadow: var(--inner-box-shadow);
}

.sidebar .profile p {
    margin-top: .5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--lightgray);
    font-size: 1.3rem;
}

.sidebar ul li {
    padding: 1rem;
    box-shadow: var(--inner-box-shadow);
    position: relative;
    transition: .3s;
    margin: .5rem 0;
}

.sidebar ul li::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 0%;
    width: 5px;
    background: var(--orange);
    z-index: 2;
    transition: all 200ms linear;
}

.sidebar ul li:hover::before {
    height: 100%;
}

.sidebar ul li i {
    color: var(--orange);
    font-size: 25px;
    margin-right: 2rem;
}

.sidebar ul li a {
    text-transform: uppercase;
    color: var(--lightgray);
    /* color: #7a0a0a; */
    font-size: 15px;
    font-weight: bold;
}

.social-links {
    padding-bottom: 3rem;
}

.social-links i {
    box-shadow: var(--inner-box-shadow);
    cursor: pointer;
    margin: .3rem;
    width: 40px;
    height: 40px;
    color: var(--lightgray);
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    transition: .5s;
}

.social-links i:hover {
    border-radius: 50%;
}

/* --------- login form ---------- */
#admin_login {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#admin_login .btn {
    width: 100%;
}

#admin_login .profile {
    margin-top: -8rem;
    background: var(--background-color);
}

form h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: maroon;
}

form span {
    color: var(--orange);
}

.form-container form input[type="submit"] {
    width: 49%;
    cursor: pointer;
    margin: .5rem;
}

.post-editor textarea {
    height: 15rem;
    resize: none;
}

.flex-btn {
    display: flex;
}

/* --------- dashboard ---------- */
.box-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
.box {
    flex: 1 1 45%; 
    max-width: 400px; 
    margin: 10px;
    text-align: center;
    box-shadow: var(--inner-box-shadow);
    border-radius: .5rem;
    padding: 1.5rem;
    padding-bottom: 3rem;
}

.box h3 {
    font-size: 2.5rem;
    margin-bottom: -1rem;
    color: var(--black);
}

.box p {
    padding: 1rem;
    font-size: 1.8rem;
    margin: 1rem 0;
    text-transform: capitalize;
    color: var(--color);
} 

/* --------- show post ---------- */
.show-post .box-container .box {
    position: relative;
    margin: 1rem;
    min-height: 20vh;
    padding: 1rem;
}

.show-post .box-container .box .image {
    height: 20rem;
    width: 100%;
    object-fit: contain;
    padding: 1rem;
    margin: 1rem 0;
}

.show-post .box-container .box .status {
    position: absolute;
    left: -4%;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    display: inline-block;
    box-shadow: var(--outer-shadow);
}

.show-post .box-container .box .price {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 2rem;
    font-weight: bold;
    color: var(--orange);
}

.show-post .box-container .box .title {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--orange);
    margin-bottom: 1rem;
}

.show-post .box-container .box .posts-content {
    font-size: 1.3rem;
    color: var(--lightgray);
    line-height: 1.5;
    padding: 1rem 0;
}

.show-post .box-container .box .btn {
    margin: .2rem;
    padding: 1rem 1.5rem;
    width: 30%;
    text-align: center;
}

.show-post .box-container .box button {
    width: 30%;
}

.post-editor img {
    width: 100%;
}

/* --------- read post ---------- */
.read-post {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
}

.read-post form {
    width: 100%;
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: var(--inner-box-shadow);
    position: relative;
}

.read-post form .status {
    border-radius: .5rem;
    padding: .5rem 2rem;
    font-size: 1.1rem;
    display: inline-block;
    text-transform: uppercase;
}

.read-post form .price {
    position: absolute;
    top: 5%;
    right: 5%;
    font-weight: bold;
    color: var(--orange);
    font-size: 2rem;
}

.read-post form .image {
    width: 100%;
    border-radius: .5rem;
    margin-top: 1.5rem;
}

.read-post form .title {
    color: var(--orange);
    font-size: 2.5rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

.read-post form .content {
    line-height: 2;
    font-size: 1.2rem;
    color: var(--lightgray);
    padding: 1rem 0;
}

.read-post form .flex-btn {
    justify-content: space-between;
}

.read-post form .flex-btn a {
    height: 50px;
    margin-top: .8rem;
}

.read-post form .flex-btn .btn {
    width: 33%;
    text-align: center;
}

/* --------- message container ---------- */
.message-container .box-container {
    display: grid;
    align-items: center;
}

.message-container .box-container .box {
    line-height: 2;
    padding: 2rem;
    border-radius: .5rem;
    color: var(--color);
}

.message-container .box-container .box:hover {
    box-shadow: var(--outer-shadow);
}

.message-container .box-container .box span {
    text-transform: capitalize;
}

.message-container .box-container .box .name {
    text-transform: capitalize;
    color: var(--lightgray);
    font-size: 1.5rem;
}

.message-container .box-container .box h4 {
    text-transform: capitalize;
    color: var(--orange);
}

/* --------- order container ---------- */
.order-container .box-container .box {
    padding: 1rem;
    border-radius: .5rem;
    position: relative;
}
.order-container .box-container .box p{ 
    padding: 0;
    margin: 0;
    color: #7a0a0a;
    font-weight: bold;
    font-size: 20px;
} 
.order-container .box-container .box p span{         
    color: rgb(45, 79, 80);
    font-weight: normal;
} 
.order-container .box-container .box .flex-btn {
    display: flex;
    justify-content: space-between;
}

.order-container .box-container .box .flex-btn .btn {
    width: 45%;
    text-align: center;
    border-radius: 20px;
}

.order-container .box-container .box .status {
    position: absolute;
    left: -4%;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    box-shadow: var(--inner-box-shadow);
    display: inline-block;
    padding: .5rem;
}

.order-container .box-container .box .detail {
    margin-top: 3rem;
    line-height: 2;
    color: var(--lightgray);
    text-transform: capitalize;
}

.order-container .box-container .box .detail span {
    text-transform: none;
}

/* --------- delete review ---------- */
.review-container .box-container .box .detail {
    border-radius: .5rem;
    padding: 1.5rem;
    position: relative;
}

.review-container .box-container .box .ratings {
    position: absolute;
    top: 5%;
    right: 5%;
    color: var(--orange);
    font-size: 2rem;
    padding: .2rem;
    border-radius: .5rem;
}

.review-container .box-container .box .user {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.review-container .box-container .box .user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: .5rem;
    box-shadow: var(--inner-box-shadow);
}

.review-container .box-container .box .user p {
    color: var(--lightgray);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: .2rem;
}

.review-container .box-container .box .user span {
    color: var(--orange);
}

.review-container .box-container .box .title {
    color: green;
    text-transform: capitalize;
    margin: 1rem 0;
}

.review-container .box-container .box .description {
    font-size: 1rem;
    color: var(--lightgray);
    line-height: 2;
    white-space: pre-line;
    margin-bottom: 1rem;
}

/* --------- user account ---------- */
.accounts .box-container {
    margin-top: 3rem;
}

.accounts .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    text-transform: capitalize;
    line-height: 2;
    color: var(--lightgray);
    margin-bottom: 4rem;
}

.accounts .box-container .box:hover {
    box-shadow: var(--outer-shadow);
}

.accounts .box-container .box span {
    text-transform: none;
}
.accounts .box-container .box p{ 
    padding: 0;
    margin: 0;
    color: #7a0a0a;
    font-weight: bold;
    font-size: 20px;
} 
.accounts .box-container .box p span{         
    color: rgb(45, 79, 80);
    font-weight: normal;
} 
.accounts .box-container .box img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: var(--inner-box-shadow);
    padding: .5rem;
    margin-top: -5rem;
    margin-bottom: 1rem;
}

/* --------- update profile ---------*/
.profile img {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 50%; /* Ensures the image is rounded */
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
    box-shadow: var(--inner-box-shadow); /* Optional: Add shadow */
}
/* Add this CSS to your existing stylesheet */
.message {
    text-align: center;
    margin-bottom: 1rem;
}

.message span {
    display: block;
    padding: 0.5rem;
    background-color: #f8d7da; /* Red background for warning messages */
    color: #721c24; /* Dark red text color for warning messages */
}

.message.success span {
    background-color: #d4edda; /* Green background for success messages */
    color: #155724; /* Dark green text color for success messages */
}

/* --------- media screen ---------- */
@media screen and (max-width: 991px) {
    .toggle-btn {
        display: block;
    }

    .sidebar {
        padding-top: 4rem;
        position: fixed;
        width: 0;
        transition: .5s;
        z-index: 101;
        top: 7%;
    }

    .sidebar.active {
        width: 300px;
    }

    section {
        width: 100%;
    }
}